.form-group{
width: 100%;
}

.msg{
color: green;
}

.error{
color: red;
}

.registerbtn{
	width: 50%;
	border: 1px solid;
	background: #2691d9;
	border-radius: 25px;
	font-size: 18px;
	border-color: #2691d9;
	
}

.center{
	background-color: white;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:450px;
	border-radius: 10px;
}


@media screen and (max-width:900px){
.center{
width:80%;
top:40%;
}

.form-group{
width:50%;
}

.msg{	
width:100%;
}

.error{
width:100%;
}


}